<div style="padding: 50px;">
  <h1 style="color: blue">{{title}}</h1>
  <h3>{{description}}</h3>
  <nav>
    <a [routerLink]="['/customer']" color="primary" mat-raised-button role="button" routerLinkActive="active"
       style="margin: 20px;">Customers</a>
    <a [routerLink]="['/add']" color="primary" mat-raised-button role="button" routerLinkActive="active"
       style="margin: 20px;">Add</a>
    <a [routerLink]="['/findbyage']" color="primary" mat-raised-button role="button"
       routerLinkActive="active" style="margin: 20px;">Search</a>
  </nav>
  <router-outlet></router-outlet>
</div>
